<div class="bg-slate-500 w-screen h-[95vh] flex flex-col">
  <div class="w-screen h-[5vh] bg-slate-400 text-3xl text-center cursor-pointer" (click)="copyId()">Call ID: {{id}}</div>
    <div class="bg-slate-600 w-screen h-max flex-col" #videos >
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
    <video src=""></video>
  </div>
</div>
